@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Playwrite+VN:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

                        /* Header Part */
header{
    min-height: 100vh;
    width: 100%;
    background-image: url('Image/Ma1.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

.nav-bar{
    display: flex;
    padding: 1px 6px;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.nav-bar img{
    width: 200px;
}

.nav-link ul li{
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-link a{
    color: rgb(105, 73, 31);
    text-decoration: none;
    font-size: 15px;
}

.Delivery{
    color: rgb(105, 73, 31);
    height: 20px;
    background-image: url('Image/delivery.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 190px top;
    background-attachment: scroll;
}

                        /* Footer Part */

footer{
    background-image: url('Image/cta.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: aliceblue;
}

.img{
    width: 250px;
    margin: 50px 0px 0px 50px;
}

.foot-ye p{
    margin: 0px 999px 0px 50px;
    justify-content: start;
}

.foot-yo{
    margin: -54px 85px;
    position: absolute;
    right: 0%;
}
.foot-yo ri{
    display: inline-block;
}
.foot-cpy p{
    position: relative;
    bottom: -17px;
}
.foot-icons li{
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}